<div class="head">
    <div class="img_logo">
        <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">
            <img height="100%" src="~/images/logo.png">
        </a>
    </div>
    <div class="menu_row">
        <div class="menu_item">
            <a href="index.html">Главная</a>
        </div>
        <div class="menu_item">
            <a href="#">Правила</a>
        </div>
        <div class="menu_item">
            <a href="#">О проекте</a>
        </div>
    </div>
</div>