@model CardViewModel
@{
    ViewBag.Title = "Создание заявки";
}
<div class="new_main_block">
    <div class="new_main_block_inner">
        <h1>Заявка</h1>
        <form asp-area="" asp-controller="Card" asp-action="New" method="post" enctype="multipart/form-data">
            <div class="new_form">
                <div asp-validation-summary="All"></div>
                <div class="new_form_col">
                    <div class="new_form_item">
                        <div class="new_form_item_head">
                            Выберите тему обращения
                        </div>
                        <select asp-for="Card.TypeCardID" name="TypeID" class="new_form_item_body">
                            @foreach (TypeCard type in Model.TypesCard)
                            {
                                <option value="@type.ID">@type.Name</option>
                            }
                        </select>
                    </div>

                    @*<div class="new_form_item">
                        <div class="new_form_item_head">
                            Статус заявки
                        </div>
                        <input asp-for="Card.StatusID" class="new_form_item_body">
                    </div>*@


                    <div class="new_form_item">
                        <div class="new_form_item_head">
                            Подробное описание проблемы поможет быстрее её решить
                        </div>
                        <textarea asp-for="Card.Text" class="new_form_item_body" id="new_form_text">
						    </textarea>
                    </div>
                    <div class="new_form_item">
                        <div class="new_form_item_head">
                            Фотографии позволят лучше понять проблему
                        </div>
                        <input type="file" name="CardFile" id="CardFile">
                    </div>
                </div>

                <div class="new_form_col">
                    <div class="new_form_item">
                        <div id="info" class="new_form_item_head">
                            Можно отметить место на карте
                        </div>
                        <input hidden asp-for="Card.Pos_X" />
                        <input hidden asp-for="Card.Pos_Y" />
                        <div id="map" class="new_form_map">

                        </div>
                    </div>
                    <div class="new_form_item new_form_item_adr">
                        <div class="new_form_item_head">
                            или написать адрес (приблизительный ориентир)
                        </div>
                        <input asp-for="Card.Address" class="new_form_item_body">
                    </div>
                </div>

            </div>

            <div class="submit_new_form">
                <div class="btn314">
                    <button type="submit" class="btn314" href="/Card/New">Измениить</button>

                </div>
            </div>
        </form>
    </div>
</div>