@*<div>
    <a asp-area="Admin" asp-controller="Home" asp-action="Cards">Заявки</a>
    <a asp-area="Admin" asp-controller="Home" asp-action="Statuses">Статусы</a>
    <a asp-area="Admin" asp-controller="Home" asp-action="TypesCard">Типы заявок</a>
    <a asp-area="Admin" asp-controller="Home" asp-action="Contractors">Исполнители</a>
</div>*@