<div class="head">
    <div class="img_logo">
        <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">
            <img height="100%" src="~/images/logo.png">
        </a>
    </div>
    <div class="menu_row">
        <div class="menu_item">
            <a class="menu_item_href" asp-area="Admin" asp-controller="Home" asp-action="Cards">Заявки</a>
        </div>
        <div class="menu_item">
            <a class="menu_item_href" asp-area="Admin" asp-controller="Home" asp-action="Statuses">Статусы</a>
        </div>
        <div class="menu_item">
            <a class="menu_item_href" asp-area="Admin" asp-controller="Home" asp-action="TypesCard">Типы заявок</a>
        </div>
        <div class="menu_item">
            <a class="menu_item_href" asp-area="Admin" asp-controller="Home" asp-action="Contractors">Исполнители</a>
        </div>
    </div>
</div>